/* Styles for the main application body */
.body{
    -fx-background: #242526;
}

/* Styles for the main label */
.text-to-speech-label{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* Styles for the text area */
.text-area{
    -fx-font-size: 16px;
    -fx-control-inner-background: #b0b3b8;
    -fx-text-fill: #6d6d6d;

}

/* Styles for the setting labels */
.setting-label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Styles for the combo boxes 4F1D1D*/
.setting-combo-box{
    -fx-font-size: 16px;
    -fx-control-inner-background: #1a4734;
    -fx-background-color: #1a4734;
}

/* Styles for the combo box list cells */
.setting-combo-box .list-cell{
    -fx-text-fill: white;
}

/* Styles for the speak button*/
.speak-btn{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #1a4734;
    -fx-text-fill: white;
    -fx-padding: 0;
}

/* Styles for the speak button when pressed */
.speak-btn:pressed{
    -fx-opacity: 0.75;
}